div{
    background-color: #ff7171;
    margin: 0px;
}
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #40514E;
}

.top-container{
    background-color: #ff7171;
    margin: 0px;
    border: 10px;
    padding-top: 100px;
    position: relative;

}
.bottom-cloud{
    position: absolute;
    left: 400px;
}
.top-cloud{
    position: absolute;
    right:200px;
    top: 50px;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    margin: 30px,auto,0,auto;
    color: #f6f4e6;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    color: #f6f4e6;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #f6f4e6;
}
a{
    color: #f6f4e6;
    margin-top: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
a:hover{
    color: blue;
}
.skill-row{
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 2;

}
.website{
    width: 40%;
    float: left;
    margin-right: 30px;
}
.powershell{
    width: 40%;
    float: right;
    margin-left: 30px;
}
.prop{
    padding-top: 20px;
    margin-top: 50px;
}
.middle-container{
    padding: 100,0;
}
.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
}
hr{
    border: dotted 6px #66bfbf;
    border-bottom: none;
    width: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.mountain{
    margin-bottom: 100px;
}

.myButton {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background:linear-gradient(to bottom, #e4685d 5%, #d13636 100%);
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 30px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    margin-bottom: 10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #d13636 5%, #e4685d 100%);
	background-color:#d13636;
}
.myButton:active {
	position:relative;
	top:1px;
}
.bottom-container{
    background-color: #ea5455;
}
.copyright{
    margin-bottom: 0;
    font-size: 0.75rem;
}
.orch{
    width: 30%;
    float: left;
    margin-right: 30px;
}
.python{
    width: 20%;
    float: right;
    margin-left: 30px;
}
.AWS{
    width: 30%;
    float: left;
    margin-right: 30px;
}
.last{
    text-align: center;
    margin-top: 100px;
}
table{
    text-align: center;
    width: 100%;
}